:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 20px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #343a40;

  --bs-white: #fff;
  --bs-primary: #e9f1f2;
  --bs-secondary: #8ea8bf;
  --bs-success: #198754;
}
/*-------------------------*/
/* $Globel
---------------------------*/
* {
  position: relative;
  box-sizing: border-box;
}
html,
body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
}
/*-------------------------*/
/* $Utility 
---------------------------*/
/* hide & show */
.u-hidden {
  display: none !important;
}
.u-show {
  display: block !important;
}
/*-------------------------*/
/* btn
---------------------------*/
/* normal */
.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  min-width: 64px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  font-family: var(--bs-body-font-family);
  letter-spacing: 0;
  text-decoration: none;
  background-color: var(--bs-white);
  border: 0;
  border-radius: 18px;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  user-drag: none;
  transition: all 0.3s;
}
.btn--primary,
.btn--secondary {
  color: var(--bs-white);
}
.btn.btn--primary {
  background-color: var(--bs-secondary);
}
.btn.btn--primary:hover,
.btn.btn--primary:active {
  background-color: var(--bs-secondary);
}
.btn.btn--secondary {
  background-color: inherit;
  border: 1px solid var(--bs-secondary);
  color: var(--bs-secondary);
}
.btn.btn--secondary:hover,
.btn.btn--secondary:active {
  background-color: var(--bs-secondary);
  color: var(--bs-white);
}
.btn.btn--lg {
  font-size: 20px;
  line-height: 56px;
  height: 56px;
  font-weight: 400;
  border-radius: 28px;
  padding: 0 64px;
}
.btn.btn--md {
  font-size: 18px;
  line-height: 48px;
  height: 48px;
  font-weight: 400;
  border-radius: 24px;
  padding: 0 64px;
}
.btn.btn--sm {
  font-size: 14px;
  line-height: 32px;
  height: 32px;
  font-weight: 400;
  border-radius: 16px;
  padding: 0 32px;
}
.btn-group .btn {
  margin-left: 8px;
  margin-right: 8px;
}
.btn-group--center {
  text-align: center;
}
/*-------------------------*/
/* $Layout
---------------------------*/
.section__inner {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .section__inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/*-------------------------*/
/* $imgobx 
---------------------------*/
/* imgbox */
.imgbox {
  width: 100%;
  display: block;
  overflow: hidden;
}
.imgbox__inner {
  width: 100%;
  height: 0;
  position: relative;
}
.imgbox__inner-4-3 {
  padding-top: calc(100% * 3 / 4);
}
.imgbox__inner .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
/*-------------------------*/
/* $Navbar 
---------------------------*/
.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  background-color: var(--bs-whitef);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* logo */
.navbar__logo {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  font-size: 1rem;
}
/* navbar */
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;

  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 601px) {
  .navbar-nav {
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.navbar-nav .nav-item .nav-link {
  display: block;
  padding: 15px;
  color: rgba(0, 0, 0, 0.55);
  line-height: 30px;
  font-size: 1rem;
  text-decoration: none;
}
/* menu-toggle */
.menu-toggle {
  padding: 12px;
  padding-top: 16px;
  border: none;
  background-color: transparent;
}
@media (min-width: 601px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0.55);
  margin-bottom: 4px;
  transition: all 0.3s;
}

.menu-toggle:hover span:nth-child(1) {
  transform: translateX(-20%);
}
.menu-toggle:hover span:nth-child(3) {
  transform: translateX(20%);
}

/* collapse */
.collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
@media (min-width: 601px) {
  .collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}

/* collapse show */
@media (max-width: 600px) {
  .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
  }
  .collapse {
    height: 0px;
    overflow: hidden;
  }
  .collapse.show {
    height: auto;
    overflow: hidden;
  }
}

/*-------------------------*/
/* $Mainvisual 
---------------------------*/
section.section_mainvisual {
  width: 100%;
  min-height: 300px;
  background-color: var(--bs-primary);

  display: flex;
  justify-content: center;
  align-items: center;
}
.section_mainvisual .mainvisual-content {
  font-size: 2rem;
  text-align: center;
}

/*-------------------------*/
/* $Gallery 
---------------------------*/
section.section_gallery {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  section.section_gallery {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.gallery_list {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .gallery_list {
    margin-bottom: 48px;
  }
}

.gallery-card {
  margin-bottom: 40px;
  position: relative;
}
.gallery-card_content {
  background-color: var(--bs-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  text-align: center;
}
